
/* Navbar style    */

.navbar-brand {

    background-color: rgb(6, 54, 70);
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 30px;

    }

/* Body */
body {

background-color: bisque

}

/* Profile picture */

#thibs-picture {

    border-radius: 50%;
    max-width: 90%;
    height: auto;
    position: relative;

}

/* Portfolio - cards */

.card-deck {

    background-color: bisque;
    text-align: center;
}

.card {

    background-color: bisque;
}

#pic-porfolio{

   
    text-align: center;
    border-radius: 50%;
    max-width: 60%;
    height: auto;
    opacity: 0.8;
  
}

  h4{

    text-align: center;
  }

  /*contact*/

  .form-group {

    color: whitesmoke;
  }


/* Media queries*/

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col {width: 8.33%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col {width: 8.33%;}

  }


  /*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    font-size:40 px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: rgb(26, 134, 153);
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #830c7d;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: rgb(255, 115, 0);
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: rgb(255, 115, 0);
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: rgb(182, 109, 13);
    
  }
  